 ul.menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
	    border-radius: 20px;
      overflow: hidden;
      background-color: #22F800;
    }
    ul.menu li {
      float: left;
    }
    ul.menu li a, .dropdown-content a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    ul.menu li a:hover {
      background-color: #22F800;
    }
    .dropdown {
      float: right;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color:#00CBFE;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content a:hover {
      background-color:green;
    }