
    .user-menu {
      width: auto;
      background-color: white;
      padding: 50px;
    }

    .user-menu h3 {
      margin-bottom: 50px;
	  padding: 10px;
      text-align: center;
    }

    .user-menu ul {
      list-style-type:none;
      padding: 0;
      margin: 0;
    }

    .user-menu li {
      margin-bottom: 50px;
    }

    .user-menu a {
      text-decoration: none;
      color: #333;
    }

    .user-menu a:hover {
      color: #000;
      font-weight: bold;
    }